@import url("common.css");
@import url("side_menu.css");
main ul {
    margin-top: 1em;
}

main li {
    font-size: 1.15em;
    margin-bottom: 1em;
}
main ul{
    margin-left: 80px; 
    width: 750px; 
}
.column {
    float: left;
    width: 40%;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}

.classroom {
    margin-top: 6em;
    margin-bottom: 1em;
    clear: both;
    overflow: hidden;
}

.classroom img {
    float: left;
    margin-right: 2.5em;
}

.classroom p {
    font-size: 1.15em;
}
/* #curriculum-details-list {
    margin-left: 80px; 
    width: 800px; 
    line-height: .85em;
}
#inner-list{
    margin-left: 80px; 
}
#school-phil-list {
    margin-left: 80px; 
    width: 750px; 
    
} */

main h2{
    color: #a71b1e;
    font-weight: 400; 
}