@import url("common.css");
@import url("slideshow.css");

img{
    height: 350px; 
}

#first-article-first-text {
    font-weight: lighter;
    line-height: 1.333;
    font-size: 1.728rem;
    color: #bbb;
}

#first-article-second-text {
    font-weight: lighter;
    line-height: 1.333;
    font-size: 1.2rem;
}

#visit-our-school {
    /* text-align: center;
    background-color: #eee;
    padding: 60px;
    margin-bottom: 2em;
    width: 560px; 
    margin-right: 40px;  */

    text-align: center;
    background-color: #eee;
    padding: 60px;
    padding-bottom: 40px; 
    margin-bottom: 2em; 
    width: 560px; 
}

#visit-our-school p {
    text-align: center;
    margin-bottom: 2em;
    padding-left: 20px;
    padding-right: 20px; 
    font-size: 1.25em;
}

#visit-our-school a {
    color: #a51417;
    border: #a51417;
    border-width: 2px;
    border-radius: 6px;
    border-style: solid;
    font-size: 1rem;
    line-height: 1.1;
    padding: 8px 20px;
}
#hours-of-operation {
    /* text-align: center;
    background-color: #eee;
    padding: 60px;
    padding-bottom: 40px; 
    margin-bottom: 2em; 
    width: 560px;  */

    text-align: center;
    background-color: #eee;
    padding: 60px;
    margin-bottom: 2em;
    width: 560px; 
    margin-right: 40px; 
}
.visit-hours-container {
    display: flex;
  }
  
#column-view {
    display: flex;
}

.column {
    width: 50%;
    padding: 16px;
    font-size: 1em;
}

.column .inner-div {
    padding: 1em;
    border-style: solid;
    border-width: 1px;
    border-color: #eee;
    padding: 19px 24px;
}

.column-header {
    background-color: #2b8282;
    padding: 19px 24px;
}

.column h3 {
    text-align: left;
    color: white;
    font-size: 1.25em;
}
/* .column h2 {
    font-size: 1em;

} */

.column .class-news {
    text-align: left;
    color: white;
    font-size: 1.25em;
}

.column a {
    color: #a51417;
    text-decoration: underline;
    display: block;
    padding-left: 24px;
    margin-bottom: 1em;
    font-size: 1.25em;
    
}

.column a.inline {
    color: #a51417;
    text-decoration: underline;
    display: inline;
    padding-left: 3px;
    margin-bottom: 0em;
    font-size: 1em;
}

.entry__category a {
    font-size: 1em;
    color: #555;
}

article h2 {
    font-size: .93rem;
    margin-bottom: 2px; 
}
#right-column p {
    margin-bottom: 2px; 
    margin-top:  10px; 
}

.column article a {
    text-decoration: none;
    margin: 0;
    padding: 0;
}

.column article {
    margin-top: .25em;
    margin-bottom: .25em;
}

main hr {
    border: none;
    background-color: #eee;
    height: 1px;
}
